<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <p>From the kitchen of <%= taco.owner.name %>...</p>
  <h1><%= taco.name %></h1>
  <h2>This taco is <%= taco.tasty ? 'tasty! 😋' : 'not tasty! 😫' %></h2>
  <% taco.comments?.forEach(comment => { %>
    <p>
      <%= comment.content %> - <%= comment.commenter.name %>
      <% if (comment.commenter._id.equals(user?.profile._id)) { %>
        <form action="/tacos/<%= taco._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
          <button>Delete</button>
        </form>
        <a href="/tacos/<%= taco._id %>/comments/<%= comment._id %>/edit" class="btn">Update</a>
      <% } %> 
    </p> 
  <% }) %>
  <form action="/tacos/<%= taco._id %>/comments" method="POST">
    <textarea name="content"></textarea><br>
    <button>Add Comment</button>
  </form>
  <% if (user) { %>
    <form 
      action="/tacos/<%= taco._id %>/flip-tasty?_method=PATCH"
      method="POST"
    >
      <button class="btn" type="submit">
        Make taco <%= taco.tasty ? 'not tasty 🌮🥺' : 'tasty 🌮🎉' %> 
      </button>
    </form>
  <% } %>
  <% if (taco.owner.equals(user?.profile._id)) { %>
    <a href="/tacos/<%= taco._id %>/edit">
      <button class="btn">Edit this Taco 🌮🚧</button>
    </a>
    <form 
      action="/tacos/<%= taco._id %>?_method=DELETE"
      method="POST"
    >
      <button class="btn" type="submit">Delete this taco 🌮💀</button>
    </form>
  <% } %>
</section>

<%- include('../partials/footer') %>